schemas/AccountsReceiveable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="CustomerInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InvoiceID" type="xs:string"/>
        <xs:element name="CustomerID" type="xs:string"/>
        <xs:element name="JobNumber" type="xs:string"/>
        <xs:element name="TotalAmount" type="xs:decimal"/>
        <xs:element name="PaymentStatus" type="xs:string"/> <xs:element name="AgingDays" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
