schemas/AccountsPayable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Voucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VoucherID" type="xs:string"/>
        <xs:element name="VendorID" type="xs:string"/>
        <xs:element name="InvoiceNumber" type="xs:string"/>
        <xs:element name="AmountDue" type="xs:decimal"/>
        <xs:element name="DueDate" type="xs:date"/>
        <xs:element name="GlAccountCode" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
