schemas/ApprovedMfgList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ApprovedSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VendorID" type="xs:string"/>
        <xs:element name="CertificationLevel" type="xs:string"/> <xs:element name="Category" type="xs:string"/> <xs:element name="RiskLevel" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
