schemas/AuditTrail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="AuditLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LogID" type="xs:string"/>
        <xs:element name="Timestamp" type="xs:dateTime"/>
        <xs:element name="UserID" type="xs:string"/>
        <xs:element name="Action" type="xs:string"/> <xs:element name="OldValue" type="xs:string" minOccurs="0"/>
        <xs:element name="NewValue" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
