schemas/BackorderLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="BackorderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaterialID" type="xs:string"/>
        <xs:element name="QuantityShort" type="xs:decimal"/>
        <xs:element name="AssociatedWONumber" type="xs:string"/>
        <xs:element name="EstimatedArrivalDate" type="xs:date"/>
        <xs:element name="CriticalPath" type="xs:boolean" default="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
