schemas/BOM_Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="BOMHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AssemblyID" type="xs:string"/>
        <xs:element name="Revision" type="xs:string"/> <xs:element name="Description" type="xs:string"/>
        <xs:element name="DrawingNumber" type="xs:string"/> <xs:element name="IsSubAssembly" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
