schemas/ChartingOfAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LedgerAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AccountCode" type="xs:string"/> <xs:element name="Name" type="xs:string"/>
        <xs:element name="Group">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Asset"/><xs:enumeration value="Liability"/>
              <xs:enumeration value="Equity"/><xs:enumeration value="Revenue"/>
              <xs:enumeration value="Expense"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CurrentBalance" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
