schemas/ContactLogs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ContactEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerID" type="xs:string"/>
        <xs:element name="Timestamp" type="xs:dateTime"/>
        <xs:element name="Type" type="xs:string"/> <xs:element name="Notes" type="xs:string"/>
        <xs:element name="FollowUpRequired" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
