schemas/CustomerMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerID" type="xs:string"/>
        <xs:element name="CompanyName" type="xs:string"/>
        <xs:element name="Industry" type="xs:string"/> <xs:element name="CreditLimit" type="xs:decimal"/>
        <xs:element name="PaymentTerms" type="xs:string" default="Net30"/>
        <xs:element name="TaxExempt" type="xs:boolean"/>
        <xs:element name="TaxID" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
