schemas/EmployeeMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeID" type="xs:string"/>
        <xs:element name="FullName" type="xs:string"/>
        <xs:element name="Role" type="xs:string"/>
        <xs:element name="Certifications">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CertName" type="xs:string" maxOccurs="unbounded"/> <xs:element name="ExpiryDate" type="xs:date" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HourlyLaborRate" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
