schemas/FixedAssets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Asset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AssetID" type="xs:string"/>
        <xs:element name="Description" type="xs:string"/> <xs:element name="PurchaseDate" type="xs:date"/>
        <xs:element name="PurchasePrice" type="xs:decimal"/>
        <xs:element name="DepreciationMethod" type="xs:string"/> <xs:element name="SalvageValue" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
