schemas/Hardware.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="HardwareItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PartNumber" type="xs:string"/>
        <xs:element name="ThreadSpec" type="xs:string"/> <xs:element name="Length" type="xs:decimal"/>
        <xs:element name="Grade" type="xs:string"/>      <xs:element name="Finish" type="xs:string"/>     <xs:element name="BoxQuantity" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
