schemas/LaborClocking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TimeLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeID" type="xs:string"/>
        <xs:element name="WONumber" type="xs:string"/>
        <xs:element name="StepNumber" type="xs:integer"/>
        <xs:element name="ClockIn" type="xs:dateTime"/>
        <xs:element name="ClockOut" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
