schemas/LeadTracking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="SalesLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LeadID" type="xs:string"/>
        <xs:element name="PotentialCustomer" type="xs:string"/>
        <xs:element name="ProjectScope" type="xs:string"/>
        <xs:element name="EstimatedValue" type="xs:decimal"/>
        <xs:element name="ProbabilityOfWin" type="xs:decimal"/> <xs:element name="Source" type="xs:string"/> </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
