schemas/MachineMaintenance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="MaintenanceLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MachineID" type="xs:string"/>
        <xs:element name="LastServiceDate" type="xs:date"/>
        <xs:element name="NextServiceIntervalHours" type="xs:integer"/>
        <xs:element name="ServiceType" type="xs:string"/> <xs:element name="TechnicianNotes" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
