schemas/MaterialMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaterialID" type="xs:string"/>
        <xs:element name="Grade" type="xs:string"/> <xs:element name="Form" type="xs:string"/>  <xs:element name="Thickness" type="xs:decimal"/>
        <xs:element name="WeightPerUnit" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
