schemas/NestingPlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="NestingResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PlateID" type="xs:string"/> <xs:element name="ProgramName" type="xs:string"/> <xs:element name="YieldPercentage" type="xs:decimal"/>
        <xs:element name="TotalCutLength" type="xs:decimal"/>
        <xs:element name="PierceCount" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
