schemas/PlateStock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PlateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaterialID" type="xs:string"/>
        <xs:element name="Dimensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Thickness" type="xs:decimal"/>
              <xs:element name="Width" type="xs:decimal"/>
              <xs:element name="Length" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IsRemnant" type="xs:boolean" default="false"/>
        <xs:element name="GrainDirection" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
