schemas/ProductionSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ScheduleEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WorkCenterID" type="xs:string"/>
        <xs:element name="WONumber" type="xs:string"/>
        <xs:element name="ScheduledStartDate" type="xs:dateTime"/>
        <xs:element name="EstimatedDurationHours" type="xs:decimal"/>
        <xs:element name="Priority" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
