schemas/ProjectCosting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="JobCostAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JobNumber" type="xs:string"/>
        <xs:element name="TotalMaterialCost" type="xs:decimal"/>
        <xs:element name="TotalLaborCost" type="xs:decimal"/>
        <xs:element name="OverheadApplied" type="xs:decimal"/>
        <xs:element name="TotalActualCost" type="xs:decimal"/>
        <xs:element name="Variance" type="xs:decimal"/> </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
