schemas/PurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PONumber" type="xs:string"/>
        <xs:element name="VendorID" type="xs:string"/>
        <xs:element name="OrderDate" type="xs:date"/>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MaterialID" type="xs:string" maxOccurs="unbounded"/>
              <xs:element name="Quantity" type="xs:decimal"/>
              <xs:element name="RequestedMTR" type="xs:boolean" default="true"/> </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalCost" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
