schemas/ReceivingDock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Receiver">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReceiverID" type="xs:string"/>
        <xs:element name="PONumber" type="xs:string"/>
        <xs:element name="MaterialID" type="xs:string"/>
        <xs:element name="QuantityReceived" type="xs:decimal"/>
        <xs:element name="RejectedQuantity" type="xs:decimal" default="0"/>
        <xs:element name="MTR_Verified" type="xs:boolean"/> </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
