schemas/RoutingMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="RoutingStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PartID" type="xs:string"/>
        <xs:element name="StepNumber" type="xs:integer"/> <xs:element name="WorkCenterID" type="xs:string"/>
        <xs:element name="SetupTimeMinutes" type="xs:decimal"/>
        <xs:element name="RunTimePerUnit" type="xs:decimal"/>
        <xs:element name="OperationDescription" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
