schemas/SalesTerritory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Territory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TerritoryID" type="xs:string"/>
        <xs:element name="ManagerID" type="xs:string"/>
        <xs:element name="Region" type="xs:string"/>
        <xs:element name="BaseFreightMultiplier" type="xs:decimal"/> </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
