schemas/SalesOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="SalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SONumber" type="xs:string"/>
        <xs:element name="PurchaseOrderRef" type="xs:string"/> <xs:element name="OrderDate" type="xs:date"/>
        <xs:element name="ShipToAddress" type="xs:string"/>
        <xs:element name="TotalOrderValue" type="xs:decimal"/>
        <xs:element name="JobPriority" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
