schemas/SalesTaxRules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TaxRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Jurisdiction" type="xs:string"/> <xs:element name="ZipCodeRange">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Start" type="xs:string"/>
              <xs:element name="End" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxPercentage" type="xs:decimal"/>
        <xs:element name="LaborTaxable" type="xs:boolean"/> </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
