schemas/ScrapTracking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ScrapRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RemnantID" type="xs:string"/>
        <xs:element name="ParentHeatNumber" type="xs:string"/> <xs:element name="Geometry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Area" type="xs:decimal"/>
              <xs:element name="Weight" type="xs:decimal"/>
              <xs:element name="ShapeSketchURL" type="xs:anyURI" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Status">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UsableRemnant"/>
              <xs:enumeration value="RecycleScrap"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
