schemas/ShippingCarrier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ShippingProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CarrierName" type="xs:string"/> <xs:element name="ServiceType" type="xs:string"/> <xs:element name="AccountLinkID" type="xs:string"/>
        <xs:element name="DefaultPackaging">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type" type="xs:string"/> <xs:element name="MaxWeight" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
