schemas/SystemSettings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="SystemSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:string"/>
        <xs:element name="LastUpdate" type="xs:dateTime"/>
        <xs:element name="ShopCapacityFactor" type="xs:decimal"/> <xs:element name="OfficeIntegrationEnabled" type="xs:boolean"/>
        <xs:element name="BackupPath" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
