schemas/TaxFiling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TaxFiling">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PeriodYear" type="xs:gYear"/>
        <xs:element name="Quarter" type="xs:integer"/>
        <xs:element name="GrossRevenue" type="xs:decimal"/>
        <xs:element name="TaxCollected" type="xs:decimal"/>
        <xs:element name="TaxPaidToVendors" type="xs:decimal"/>
        <xs:element name="NetLiability" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
