schemas/ToolingLibrary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ToolItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ToolID" type="xs:string"/>
        <xs:element name="ToolType" type="xs:string"/> <xs:element name="CurrentLifeMinutes" type="xs:decimal"/>
        <xs:element name="MaxLifeMinutes" type="xs:decimal"/>
        <xs:element name="Location" type="xs:string"/> </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
