schemas/UOM_Definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="UOM_Table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Unit" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:string"/> <xs:element name="System" type="xs:string"/> <xs:element name="BaseConversionFactor" type="xs:decimal"/>
              <xs:element name="Precision" type="xs:integer"/> </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
