schemas/VendorPriceBook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="VendorPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VendorID" type="xs:string"/>
        <xs:element name="AlloyGroup" type="xs:string"/>
        <xs:element name="BasePricePerLB" type="xs:decimal"/>
        <xs:element name="Surcharge" type="xs:decimal"/>
        <xs:element name="EffectiveDate" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
