schemas/VendorRFQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="RFQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RFQID" type="xs:string"/>
        <xs:element name="DeadlineDate" type="xs:date"/>
        <xs:element name="Requirements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MaterialSpec" type="xs:string"/>
              <xs:element name="Quantity" type="xs:decimal"/>
              <xs:element name="RequestedLeadTime" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
