schemas/Warehouse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="WarehouseMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Location" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BinID" type="xs:string"/>
              <xs:element name="Zone" type="xs:string"/> <xs:element name="CapacityWeight" type="xs:decimal"/>
              <xs:element name="IsLocked" type="xs:boolean" default="false"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
