schemas/WorkCenter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="WorkCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CenterID" type="xs:string"/>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="CapacityHoursPerDay" type="xs:decimal"/>
        <xs:element name="HourlyRate" type="xs:decimal"/> <xs:element name="OverheadFactor" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
